<div class="layout">
  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="categories">
      <h4>Categorías</h4>
      <span>Acción</span>
      <span>RPG</span>
      <span>Multijugador</span>
      <span>Supervivencia</span>
      <span>Indie</span>
      <span>Open World</span>
    </div>
  </aside>

  <!-- MAIN -->
  <main class="content">
    <!-- HERO -->
    <section class="hero">
      <div class="hero-overlay">
        <div class="hero-content">
          <span class="tag">DESTACADO</span>

          <h1>Cyberpunk 2077</h1>

          <p>
            Sumérgete en Night City y vive una experiencia futurista llena de acción, misiones y
            exploración.
          </p>

          <div class="hero-buttons">
            <button matButton color="primary">Comprar Ahora</button>
            <button matButton>Ver Trailer</button>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION -->
    <section class="games-section">
      @if (loading()) {
        <div class="center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      }

      @if (errorMessage()) {
        <div>{{ errorMessage() }}</div>
      }

      @if (!loading() && !errorMessage()) {
        <div class="grid">
          @for (games of games(); track games.id) {
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{ games.title }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  <strong>Categoría:</strong>
                  {{ games.geners }}
                </p>
                <p>
                  <strong>Stock:</strong>
                  {{ games.description }}
                </p>
                <p>
                  <strong>Precio:</strong>
                  ${{ games.price }}
                </p>
              </mat-card-content>
            </mat-card>
          }
        </div>
      }
    </section>
  </main>
</div>
