
.games-grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.game-card {
  overflow: hidden;

  border-radius: 22px;
  border: 1px solid rgba(161, 0, 255, 0.24);

  background:
    linear-gradient(145deg, rgba(18, 18, 30, 0.96), rgba(8, 8, 16, 0.96));

  color: #ffffff;
  cursor: pointer;

  box-shadow:
    0 0 22px rgba(161, 0, 255, 0.08),
    inset 0 0 22px rgba(255, 255, 255, 0.02);

  transition: 0.28s ease;
}

.primary-btn {
  background: linear-gradient(135deg, #7c3aed, #a100ff);
  color: #ffffff;
  border: 1px solid rgba(161, 0, 255, 0.7);

  min-height: 44px;
  padding: 0 22px;

  border-radius: 14px;

  font-weight: 900;
  transition: 0.25s ease;
}

.game-card:hover {
  transform: translateY(-8px) scale(1.01);
  border-color: rgba(255, 0, 212, 0.55);

  box-shadow:
    0 0 26px rgba(161, 0, 255, 0.35),
    0 0 60px rgba(255, 0, 212, 0.13);
}

.game-card mat-card-header {
  padding: 20px 20px 0;
}

.title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
}

.game-card mat-card-content {
  padding: 18px 20px 22px;
}

.game-card p {
  margin-bottom: 14px;

  color: rgba(255, 255, 255, 0.68);
  line-height: 1.6;
}

.game-card strong {
  color: #d8b4fe;
}

.price {
  margin-top: 18px;

  color: #ff00d4 !important;
  font-size: 22px;
  font-weight: 900;

  text-shadow: 0 0 14px rgba(255, 0, 212, 0.55);
}

//seccion de la barra de busqueda
.search-card {
  background: rgba(12, 12, 18, 0.9);
  border: 1px solid rgba(161, 0, 255, 0.22);
  border-radius: 24px;
  color: #ffffff;
  box-shadow: 0 0 28px rgba(161, 0, 255, 0.1);
  backdrop-filter: blur(14px);
}

.search-card {
  padding: 24px;
  margin-bottom: 24px;
}

.search-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 22px;
}

.search-info mat-icon {
  color: #ff00d4;
  font-size: 38px;
  width: 38px;
  height: 38px;
  filter: drop-shadow(0 0 10px rgba(255, 0, 212, 0.55));
}

.search-info h2 {
  margin: 0 0 6px;
  font-size: 24px;
}

.search-info p {
  margin: 0;
  color: rgba(255, 255, 255, 0.56);
}

.search-field {
  width: 100%;
  color: #ffffff !important;
  caret-color: #ffffff;
}
mat-label{
  color: rgba(255, 255, 255, 0.68);
}
.imput-search {
  color: #ffffff;
}
::ng-deep .search-field .mdc-text-field__input {
  color: #ffffff !important;
}

::ng-deep .search-field .mdc-text-field__input::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

::ng-deep .search-field .mat-mdc-form-field-icon-suffix {
  color: #ffffff !important;
}