<div class="section">
  @if (loading()) {
    <div class="center">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  }

  @if (errorMessage()) {
    <div>{{ errorMessage() }}</div>
  }

  <mat-card class="search-card">
    <div class="search-info">
      <mat-icon>manage_search</mat-icon>

      <div>
        <h2>Buscar juegos</h2>
        <p>Filtra por título o descripción dentro del catálogo.</p>
      </div>
    </div>

    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Buscar juegos...</mat-label>

      <input
        matInput
        [ngModel]="searchQuery()"
        (ngModelChange)="buscar($event)"
        placeholder="Ej: Cyberpunk, RPG, aventura..."
      />

      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-card>

  @if (!loading() && !errorMessage()) {
    <div class="games-grid">
      @for (game of filteredGames(); track game.id) {
        <mat-card class="game-card">
          <mat-card-header>
            <mat-card-title class="title">{{ game.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <strong>Categoría:</strong>
              {{ game.genres }}
            </p>
            <p>
              <strong>Descripción:</strong>
              {{ game.description }}
            </p>
            <p class="price">
              <strong>Precio:</strong>
              ${{ game.price }}
            </p>
            <div>
              <button class="primary-btn" routerLink="/login">Comprar Ahora</button>
            </div>
          </mat-card-content>
        </mat-card>
      }
    </div>
  }
</div>
